<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiee.smartplug">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.jiee.smartplug.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.jiee.smartplug.permission.C2D_MESSAGE" />

    <!-- [END gcm_permission] -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/mytheme">
        <service android:name=".services.SmartConfigService" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ResetPassword"
            android:configChanges="orientation"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jiee.smartplug.MainActivity" />
        </activity>
        <activity
            android:name=".CreateAccount"
            android:configChanges="orientation"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jiee.smartplug.MainActivity" />
        </activity>
        <activity
            android:name=".AddDevice"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewDeviceList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListDevices"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.jiee.smartplug" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <!-- [START gcm_listener] -->
        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".services.mDNSservice"
            android:enabled="false"
            android:exported="true" />
        <service
            android:name=".services.mDNSTesting"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.UDPListenerService"
            android:enabled="true"
            android:exported="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".services.M1ServicesService" />
        <service android:name=".services.ListDevicesServicesService" />
        <service android:name=".services.gcmNotificationService" />
        <service android:name=".services.ListDevicesUpdateAlarmService" />

        <activity
            android:name=".M1"
            android:configChanges="orientation"
            android:parentActivityName=".ListDevices"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme" />
        <activity
            android:name=".S0"
            android:configChanges="orientation"
            android:parentActivityName=".M1"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme" />
        <activity
            android:name=".S1"
            android:configChanges="orientation"
            android:parentActivityName=".S0"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme" />
        <activity
            android:name=".S3"
            android:configChanges="orientation"
            android:parentActivityName=".M1"
            android:screenOrientation="portrait"
            android:theme="@style/mytheme" />
        <activity
            android:name=".IREditMode"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IRAddNew"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetectIR"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S2_Schedule"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".R2_EditItem"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IRCodeMode"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IconPicker"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".R6_Record_IR"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".R5_Custom"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".M2A_Item_Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".HelpView" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IRListCommands"></activity>
    </application>

</manifest>
